div(ng-controller="TimelinesCtrl")
  section.timelines
    header
    div.section-inner
      div.timelines-inner
        article.timeline(ng-repeat="tl in timelines")
          article.timeline-thing(
              ng-class="detectThingClass(thing)"
              ng-repeat="thing in tl.things"
              resizable 
              directions="['top', 'bottom']" 
              step="18"
              resize-start="resizeStart(thing)"
              resize-end="resizeEnd(thing, info)"
              draggable
              axis="y"
              drag-start="dragStart(thing)"
              drag-end="dragEnd(thing, info)"
              ng-style="detectThingStyle(thing)")
            .thing-background(ng-if="isCurrentThing(thing)" ng-style="{ height: detectThingBackHeight(thing) }")
            h1.thing-title(ng-bind="thing.title")
        .line-current-time(ng-style="detectCurrentTimeStyle()")
  section.timer
  section.list
    header 
      h1 Today's things
    div.section-inner
      ul
        li(ng-repeat="thing in origThings")
          div.knob(ng-click="onClickMoveThing(thing)")
          input(type="text" ng-class="{ done: thing.done }" ng-model="thing.title" ng-change="onChangeThing(thing)")
        li.add(ng-click="onClickAddThing()") Add a new thing
            
  section.board
    header
      h1 Board
    div.section-inner
